/*==========================================
    sidebar for blog page
==========================================*/
.single-widget {
    // box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
    background: #f0f8ff;
    padding: 34px 40px 40px;
    margin-bottom: 30px;
    h3 {
        font-size: 24px;
        color: $hcolor-3;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 11px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            a {
                font-size: 16px;
                color: #666;
                text-decoration: none;
                display: block;
                padding: 14px 0;
                @include transition(.4s);
                &:last-child {
                    padding-bottom: 0;
                }
                span {
                    float: right;
                }
                &:hover {
                    color: $base-color;
                }
            }
        }
    }
    .single-recent {
        margin-bottom: 20px;
        .part-img {
            width: 90px;
            height: 70px;
            overflow: hidden;
            float: left;
            margin-right: 10px;
            img {
                    height: 100%;
                }
            }
        .part-text {
            h4 {
                font-size: 18px;
                color: $hcolor-3;
                font-weight: 600;
                a {
                    text-decoration: none;
                    @include transition(.4s);
                    color: $hcolor-3;
                    &:hover {
                        color: $base-color-2;
                    }
                }
            }
            span {
                font-size: 12px;
                color: $heading-color;
                display: block;
                margin-top: 10px;
            }
        }
    }
    
}
#search-bar {
    box-shadow: none;
    padding: 0;
    form {
        width: 100%;
        height: 50px;
        position: relative;
        input {
            height: 100%;
            width: 100%;
            padding: 0 20px;
            border: none;
            outline: none;
            background: #f0f8ff;
            padding-right: 50px;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background: transparent;
            color: $heading-color;
            font-size: 16px;
            height: 100%;
            width: 50px;
            cursor: pointer;
            outline: none;
        }
    }
}
#recent-post {
    padding-bottom: 24px;
    h3 {
        margin-bottom: 23px;
    }
}
#archive {
    h3 {
        margin-bottom: 6px;
    }
}
#tags {
    padding: 33px 40px 30px;
    h3 {
        margin-bottom: 27px;
    }
    a {
        display: inline-block;
        color: $heading-color;
        padding: 12px 12px;
        border: 1px solid #dadada;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 10px;
        margin-right: 7px;
        @include transition(.4s);
        &:hover {
            background: $base-color;
            color: $white;
            border: 1px solid $base-color;
        }
    }
}

