/*==========================================
    payment
==========================================*/
.payment {
    padding: 118px 0 90px;
    .single-payment {
        margin-bottom: 30px;
        img {
            width: 100%;
            padding: 30px;
            border: 1px solid rgba(0, 0, 80, 0.2);
        }
    }
}